.career{
    display: flex;
    flex-direction: row;
}
.btnsec{
    display :flex;
    height: 100%;
    flex-direction:column;
    color: #FF512F;
    
}
.formbox{
    display: flex;
    flex-direction: column;
}
#btnt{
    
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
            margin: 10px;
            margin-left: 25px;
            padding: 10px 35px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px rgb(61, 61, 61);
            border-radius: 10px;
            border: none;
            display: block;
} 
 #btn:hover{
    background-position: right center; 
            color: #fff;
            text-decoration: none;
 }